<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">首页</a>
        <a class="page-link" href="{{ site.baseurl }}/tech/">科技文章</a>
        <a class="page-link" href="{{ site.baseurl }}/life/">个人随笔</a>
        <a class="page-link" href="{{ site.baseurl }}/about/">关于我</a>
      </div>
    </nav>
  </div>
</header>
